<%- include("./partials/header.ejs")%>
        <div class="head-container nopage">
                <h1>Error</h1>
                <h3>Invalid entry please try again.</h3>
                <p style="display: none;">Created by Denzel Edwards © <span id="year"></span></p>
                <a href="/"><button type="submit" class="btn btn-dark bck">Back to Home</button></a>
        </div>
<%- include("./partials/footer.ejs")%>
