<%- include("./partials/header.ejs")%>
        <div class="head-container">
                <h1>404</h1>
                <h3>We couldn't find that page but we'd be happy to bring you back.</h3>
                <p style="display: none;">Created by Denzel Edwards © <span id="year"></span></p>
                <a href="/"><button type="submit" class="btn btn-dark bck">Back to Home</button></a>
        </div>
<%- include("./partials/footer.ejs")%>
