<%- include("./partials/header.ejs")%>
        <div class="head-container">
            <h1>Which Weather?</h1>
            <div class="helper">
                <div id="help"><i class="fas fa-question-circle fa-2x que-spin"></i></div>
                <div id="help-panel">
                    <p>An app that let's you checkout the weather of cities around the world!</p>
                    <p>Created by Denzel Edwards © <span id="year"></span></p>
                </div>    
            </div>
            <form action="/" method="post">
                <div class="search-div">
                    <input name="cityName" id="cityInput" class="form-control search" type="text" placeholder="City Name" aria-label="Search">
                    <span class="search-bar">
                        <button type="submit" class="btn btn-dark thermo"><i class="fas fa-thermometer-half"></i></button>
                    </span>                
                </div>
            </form> 
        </div>
<%- include("./partials/footer.ejs")%>
